<footer class="bg-light text-center text-white mb-3">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="text-white btn-floating m-1"
        href="#!"
        role="button">
        <img src="../../../assets/img/footer-icons/icons8-facebook.svg" class="image" alt="Facebook">
      </a>

      <!-- Twitter -->
      <a
        class="text-white btn-floating m-1"
        href="#!"
        role="button">
        <img src="../../../assets/img/footer-icons/icons8-twitter.svg" class="image" alt="Twitter">
      </a>

      <!-- Google -->
      <a
        class="text-white btn-floating m-1"
        href="#!"
        role="button">
        <img src="../../../assets/img/footer-icons/icons8-google.svg" class="image" alt="Google">
      </a>

      <!-- Instagram -->
      <a
        class="text-white btn-floating m-1"
        href="#!"
        role="button">
        <img src="../../../assets/img/footer-icons/icons8-instagram.svg" class="image" alt="Instagram">
      </a>

      <!-- Linkedin -->
      <a
        class="text-white btn-floating m-1"
        href="#!"
        role="button">
        <img src="../../../assets/img/footer-icons/icons8-linkedin.svg" class="image" alt="Linkedin">
      </a>
      <!-- Github -->
      <a
        class="text-white btn-floating m-1"
        href="#!"
        role="button">
        <img src="../../../assets/img/footer-icons/icons8-github.svg" class="image" alt="Github">
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="#">Minsait.com</a>
  </div>
  <!-- Copyright -->
</footer>
