<div>
  <div class="container">
    <h2 class="text-center mt-3">Configuração de acesso aos usuários</h2>
    <div class="m-3">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <app-create-user></app-create-user>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <app-footer></app-footer>
  </div>
</div>


