<div>
  <div class="container">
    <h2 class="text-center mt-3">Configuração de acesso aos usuários</h2>
    <div class="m-3">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <app-create-user></app-create-user>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <table class="table table-sm table-dark">
            <thead>
              <tr>
                <th scope="col">Id do usuário</th>
                <th scope="col">Nome do usuário</th>
                <th scope="col">Nome do usuário</th>
                <th scope="col">Data de criação</th>
                <th scope="col">Data de atualização</th>
                <th scope="col">Perfil</th>
                <th scope="col">Status conta</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="usuarios && usuarios.content">
                <tr *ngFor="let usuario of usuarios.content">
                  <td>{{ usuario.id }}</td>
                  <td>{{ usuario.username }}</td>
                  <td>{{ usuario.dateCreate }}</td>
                  <td>{{ usuario.dateUpdate }}</td>
                  <td>{{ usuario.email }}</td>
                  <td>
                    <ul>
                      <li *ngFor="let role of usuario.perfil">{{ role.role }}</li>
                    </ul>
                  </td>
                  <td>{{ usuario.active }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <app-footer></app-footer>
  </div>
</div>


