<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center logo" href="/api/home">
      <img src="../../../assets/img/icons8-partilhar-2-120.png" width="30" height="30" alt="logo">
      <span class="space-text">Minsait</span>
    </a>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary border-0" id="dropdownBasic1" ngbDropdownToggle>
              <img src="../../../assets/img/icons8-ciclo-de-vida-96.png" width="40" height="40" class="rounded-circle">
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem><a class="dropdown-item text-center" href="api/perfil">Perfil</a></button>
            <a class="dropdown-item text-center text-danger" href="#" (click)="logoutClicked()">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>



