<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center logo" href="/api/home">
      <img src="../../../assets/img/icons8-partilhar-2-120.png" width="30" height="30" alt="logo">
      <span class="ml-2">Minsait</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-list-4" aria-controls="navbar-list-4" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbar-list-4">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../../assets/img/icons8-ciclo-de-vida-96.png" width="40" height="40" class="rounded-circle">
          </a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
